@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Space+Grotesk:wght@500&display=swap');

:root {
    --fonte-primaria: "Space Grotesk", sans-serif;
    --fonte-secundaria: "Inter", sans-serif;

    --cor-destaque: #E07B67;
    --preto-01: #121214;
    --preto-02: #17171A;
    --cinza-01: #202024;
    --cinza-02: #252529;
    --cinza-03: #AFABB6;
    --branco: #F1F1F1;
}

body {
    background-color: var(--preto-01);
    margin: auto;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    background-color: var(--preto-02);
    padding: 4% 0%;
    width: 100%;
}

.cabecalho__titulo {
    font-family: var(--fonte-primaria);
    color: var(--branco);
    font-size: 2.5rem;
    text-decoration: none;
}

.cabecalho__titulo__destaque {
    color: var(--cor-destaque);
}

.cabecalho__search {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--cinza-01);
    padding: 1em 1.5em;
    border-radius: 8px;
    width: 60%;
}

.bi-search {
    color: var(--cor-destaque);
}

#input-search {
    background-color: transparent;
    font-family: var(--fonte-secundaria);
    color: var(--cinza-03);
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 70%;
    padding: 6% 0%;
    margin: 0% 15%;
}

.cards__content {
    display: flex;
    flex-direction: column;
    color: var(--branco);
    padding: 2% 3%;
}

.cards__content:hover {
    border: 1px solid var(--cor-destaque);
    border-radius: 8px;
}

.cards__content__data {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cor-destaque);
}

.bi-heart, .bi-heart-fill {
    color: var(--cor-destaque);
    cursor: pointer;
}

.cards__content__conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cards__content__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
}

.cards__content__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    color: var(--cinza-03);
}

/* Media Queries */
@media (max-width: 768px){
    .cards {
        margin: auto;
    }
}